<a href="https://colab.research.google.com/github/Glauco-Moreno/PythonProjects/blob/main/pipelineETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importação

In [ ]:
## O trabalho a seguir se destino a buscar os melhores candidatosda área contábil
##existentes num banco de dados de uma empresa de Rh
##
##COLUNAS
##UserID
##Name
##Activity	- função desempenhada sem acentos
##Status	- Atual situação de trabalho
##Company	- Caso já esteja trabalhando em algum lugar
##Stage	- Em que fase do pipeline da empresa está
##Expectation	- Remuneração esperada
##Number	- celular
##Address	- endereço
##City	- cidade
##Linkedin

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel("people.xlsx")


user_ids = df['UserID'].tolist()
print(user_ids)

df.iloc[2]

print(df['Activity'])

#Busca

In [ ]:
##Busca por área de Atuação/Vaga buscada


def atuacao(ativ, users = df):
  lista=[]
  indice = 0
  for atividade in users['Activity']:
    if atividade == ativ:
      lista.append(users.iloc[indice])
    indice +=1
  return lista

candidatos = pd.DataFrame(atuacao("Especialista Contabil"))
cand_email = candidatos.drop(columns = "UserID")
print(cand_email)

##file_name = 'candidatos.xlsx'

#salvando o excel
cand_email.to_excel('candidatos.xlsx', index=False)

#Alteração

In [ ]:
base = df
##print(base["UserID"])
print(df['Activity'])

In [ ]:
def atividade(user_id,valor,base = df):
  line = user_id - 1;
  base['Activity'][line] = valor

def status(user_id,valor,base = df):
  line = user_id - 1;
  base['Status'][line] = valor

def altera(user_id,valor,funcao):
  resultado = funcao(user_id,valor)

altera(5,"Analista Junior", atividade)
altera(5,"Aprovado", status)

print(base['Activity'])
print(df['Status'])

#Update - novos candidatos

In [ ]:
df['UserID'].iloc[-1]
line = df['UserID'].iloc[-1] + 1
line

21

In [ ]:
def novo(nome,atividade, status, empresa,fase,salario, numero, endereco, cidade, link):
  line = df['UserID'].iloc[-1] + 1
  df.loc[line] = [line, nome, atividade, status, empresa,fase,salario, numero, endereco, cidade, link]

novo("Carlos Alberto", "Diretor Contabil", "Diponivel", "AirLines","Contato",4500,"(11)8888-8888","Rua lapa, 189","Coritiba","https://br.linkedin.com/in/carlos")

df.to_excel('people.xlsx', index=False)

In [ ]:
print(df.to_markdown())

##Excluir

In [ ]:
##Exclusão
def exclui(user_id,base = df):
  line = user_id - 1;
  base.drop(line)

exclui(20)

df.to_excel('people.xlsx', index=False)